.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*** header__div ***/
.header__div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 2vh;
  z-index: 10;
}

.header__h1 {
  width: 100%;
  font-weight: var(--text-ligth);
  text-align: left;
  font-size: 4vw;
  display: flex;
  align-items: flex-end;
  }

.header__h2 {
  display: flex;
  width: 100%;
  font-weight: var(--text-bold);
  text-transform: uppercase;
  text-align: center;
  font-size: 3vw;
  justify-content: center;
}

.header__h2--strong {
  color: var(--bg-secondary);
  font-weight: var(--text-bold);
  text-transform: uppercase;
  text-align: center;
  font-size: 6vw;
  margin-bottom: 5vh;
}

.div--contact {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.div__a {
  background-color: var(--bg-secondary);
  color: var(--text);
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.8rem;
  text-decoration: none;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  &:hover {
    cursor: pointer;
    background-color: var(--text);
    color: var(--bg);
  }
}

/*** header__img ***/

.header__img {
  height: 30vw;
  display: flex;
  padding: 2vh;
  z-index: 11;
}

/*** header__video ***/

.header__video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  opacity: 0.2;
  z-index: 1;
}




/*********** Media Query ***********/

@media (max-width:950px) {
  .header {
    row-gap: 6vh;
  }

  .header__h1 {
    font-size: 4vw;
    justify-content: left;
    margin-bottom: 2vh;
  }

  .header__h2 {
    font-size: 3.5vw;
    width: 100%;
    justify-content: left;
    align-items: flex-end;
  }

  .header__h2--strong {
    text-align: left;
    font-size: 7vw;
  }

  .header__img {
    height: 25%;
  }

}

@media (max-width:550px) {
  .header {
    row-gap: 1vh;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .header__div {
    width: 100%;
    padding: 5% 5% 5% 5%;
    justify-content: center;
  }

  .header__h1 {
    font-size: 10vw;
    justify-content: center;
    margin-bottom: 2vh;
  }

  .header__h2 {
    font-size: 7.5vw;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
  }

  .header__h2--strong {
    text-align: center;
    font-size: 15vw;
  }

  .div--contact {
    flex-direction: column;
    gap: 1rem;
  }

  .div__a {
    padding: 0.7rem 0.9rem;
    border-radius: 1.8rem;
  }

  .header__img {
    height: 30vh;
  }

}