:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --text-ligth: 300;
  --text-medium: 500;
  --text-bold: 700;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.body--ligth {
  --bg: #4A87CE;
  --bg-secondary: #ffffff;
  --bg-optional: #4075b1;
  --text: #211D1D;

  /* --morph1: #e5b2f7;
  --morph2: #fff4a3; */
}

.body--dark {
  --bg: #211D1D;
  --bg-secondary: #4A87CE;
  --bg-optional: #333;
  --text: #ffffff;

  /* --morph1: #9400D3;
  --morph2: #FFD700; */
}

.body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  max-width: 100%;
  --white: #f0f0f0;
  height: auto;
  position: relative;
}

/* barra de scroll */

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 0;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--bg);
}

/* selection */

::selection {
  background-color: var(--text);
  color: var(--bg);
}

#progress {
  height: 4px;
  background-color: var(--text);
  position: fixed;
  top: 8vh;
  left: 0;
  z-index: 10;
}